// Script parameters
params {
	desc = "testrun"
	conda = ""
	file = "$PWD/helloworld.py"
	amount = 1
	outdir = ""
	options = ""
	path = "/home/icb/$USER/miniconda3"
	help = false
}

if("$params.conda" == "") {
	params.condapath = "$params.path"
}
else {	
	params.condapath = "$params.path/envs/$params.conda"
}


profiles {
  	slurm { includeConfig './slurm.config' }
}

timeline {
 	enabled = false
  	file = "timeline.html"
}

report {
	enabled = false
	file = "report.html"
}

executor {
	queueSize = 175
 	submitRateLimit = '3 sec'
}

manifest {
	name = 'aljoshoh/nextflow'
	author = 'Alexander J Ohnmacht'
	homePage = 'www.github.com/aljoshoh'
	description = 'nextflow bash'
	mainScript = 'main.nf'
	version = '0.0.1'
}


process {
    withName:nf_emtpb_benchmark {
        container = '/localscratch/$USER/container/emtpb'
        // container = '/home/ubuntu/container'
    }
}
charliecloud {
    enabled = true
    runOptions = '--no-passwd -b /lustre/groups/:/lustre/groups' 
    // runOptions = '-b /vol/emtpb/:/vol/emtpb'
}
