// Script parameters
params {
	desc = "testrun"
	conda = ""
	file = "$PWD/helloworld.py"
	amount = 1
	outdir = ""
	options = ""
	path = "/home/icb/$USER/miniconda3"
	help = false
}

if("$params.conda" == "") {
	params.condapath = "$params.path"
}
else {	
	params.condapath = "$params.path/envs/$params.conda"
}


profiles {
  	slurm { includeConfig './slurm.config' }
}

timeline {
 	enabled = false
  	file = "timeline.html"
}

report {
	enabled = false
	file = "report.html"
}

executor {
	queueSize = 500
 	submitRateLimit = '4 sec'
}

manifest {
	name = 'aljoshoh/nextflow'
	author = 'Alexander J Ohnmacht'
	homePage = 'www.github.com/aljoshoh'
	description = 'nextflow bash'
	mainScript = 'main.nf'
	version = '0.0.1'
}
